/* Using framework materialize
.home-title {
    background-color: #4a148c;
}

#home {
    margin: 0;
}

body {
    background-image: url(../images/background-image1.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    
} */

/* Using framework materialize */
* {
    box-sizing: border-box;
 }

body {
    background: rgb(44, 22, 44);
}

.container {
    width: 80%;
    /* height: 133vh; */
    background: rgb(88, 66, 88);
    min-height: 120vw;
}

.genre-hero {
    background: rgb(88, 66, 88);
    font-size: clamp(31.5px, 8vw, 65px);
    /* font-size: 33px; */
    font-weight: 490;
    max-width: 100%;
    line-height: 120%;
    text-align: center;
    margin: 2.8rem 0 1.68rem 0;
    /* justify-content: center; */
    /* display: flex; */
    position: relative;
    top: 3vw; 
}

.genre-container {
    right: -8.9vw;
    font-size: clamp(31.5px, 8vw, 65px);
    /* font-size: 33px; */
    font-weight: 490;
    max-width: 100%;
    line-height: 120%;
    text-align: center;
    margin: 2.8rem 0 1.68rem 0;
    justify-content: space-evenly;
    display: flex;
    position: relative;
    /* top: 2vw; */
    /* font-size: 4.2rem; */
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

.band-info-container {
    display: flex;
}



.header-h4 {
    position: relative;
    top: 0.5vh;
    font-size: clamp(23px, 4vw, 45px);
}

.header-h4-2 {
    position: relative;
    top: 0.5vh;
    font-size: clamp(23px, 4vw, 45px);
}

.button-header {
    background: rgb(45, 31, 57);
    height: 52vh;
    min-height: 46vh;
    max-width: 80%;
    flex-direction: row;
    position: absolute;
    width: 65%;
    /* padding-top: 1.3vw; */
    top: 25vh;
    /* flex-grow: 1; */
    font-size: 4vw;
    line-height: 110%;
    margin: 1.52vw 0 0.912vw 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.band-info-container-bottom {
    background: rgb(88, 66, 88);
    font-size: clamp(31.5px, 8vw, 65px);
   
    font-weight: 490;
    max-width: 100%;
    line-height: 120%;
    text-align: center;
    margin: 2.8rem 0 1.68rem 0;
    /* justify-content: center; */
    /* display: flex; */
    position: relative;
    top: 3vw;
    margin: 1.52vw 0 0.912vw 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}



/* .band-info-container2 {
    background: rgb(45, 31, 57);
    /* height: 54vh;
    max-width: 100%;
    flex-direction: row;
    position: relative; */
    /* padding-top: 1.3vw; */
    /* top: 1vh;
    flex-grow: 1;
    font-size: 4vw;
    line-height: 110%;
    margin: 1.52vw 0 0.912vw 0;
    text-align: center; */
    /* display: flex; */
 /* }   */
    

.ticket-btn1 {
    width: 25vw;
    height: 10vh;
    font-size: clamp(14px, 2.3vw, 24px);
    font-weight: 500;
    min-height: 92px;
    min-width: 100px;
    max-width: 240px;
    max-height: 114px;
    display: inline-block;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px auto;
    position: absolute;
    top: 27.2vh;
    left: 35.2vw;
    min-width: 100px;
  
}

.ticket-btn2 {
    width: 25vw;
    height: 10vh;
    font-size: clamp(14px, 2.3vw, 24px);
    font-weight: 500;
    min-height: 79px;
    min-width: 110px;
    max-width: 240px;
    max-height: 120px;
    display: inline-block;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px auto;
    position: absolute;
    top: 26vw;
    left: 35.5vw;
}



.playsongbtn1 {
    background: rgb(44, 22, 44);
    width: 26vw;
    height: 10vh;
    font-size: clamp(14px, 2.3vw, 24px);
    font-weight: 500;
    min-height: 85px;
    min-width: 117px;
    max-width: 240px;
    /* max-height: 91px; */
    display: inline-block;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px auto;
    position: absolute;
    top: 12vh;
    left: 3.5vw;
    float: left;
}
    


.playsongbtn2 {
    right: 33vw;
    top: 23vh;
    background: rgb(44, 22, 44);
    width: 25vw;
    height: 10vh;
    font-size: clamp(14px, 2.3vw, 24px);
    font-weight: 500;
    min-height: 86px;
    min-width: 100px;
    display: inline-block;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px auto;
    position: absolute;
    top: 12.2vh;
    left: 34.9vw;
    min-height: 85px;
    min-width: 117px;
}

.playsongbtn3 {
    background: rgb(44, 22, 44);
    width: 26vw;
    height: 10vh;
    font-size: clamp(14px, 2.3vw, 24px);
    font-weight: 500;
    min-height: 85px;
    min-width: 117px;
    max-width: 240px;
    /* max-height: 91px; */
    display: inline-block;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px auto;
    position: absolute;
    right: 32.5vw;
    top: 23vh;
    min-height: 85px;
    min-width: 117px;
    float: left;
}

.playsongbtn4 {
    background: rgb(44, 22, 44);
    width: 25vw;
    height: 10vh;
    font-size: clamp(14px, 2.3vw, 24px);
    font-weight: 500;
    min-height: 79px;
    min-width: 110px;
    max-width: 240px;
    max-height: 120px;
    display: inline-block;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px auto;
    position: absolute;
    top: 13.399999999999999vw;
    left: 10.3vw;
}

.playsongbtn5 {
    background: rgb(44, 22, 44);
    width: 25vw;
    height: 10vh;
    font-size: clamp(14px, 2.3vw, 24px);
    font-weight: 500;
    min-height: 79px;
    min-width: 110px;
    max-width: 240px;
    max-height: 120px;
    display: inline-block;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 12px auto;
    position: absolute;
    top: 13.4vw;
    left: 35.4vw;

    }
    
    .playsongbtn6 {
        background: rgb(44, 22, 44);
        width: 25vw;
        height: 10vh;
        font-size: clamp(14px, 2.3vw, 24px);
        font-weight: 500;
        min-height: 79px;
        min-width: 110px;
        max-width: 240px;
        max-height: 120px;
        display: inline-block;
        border-radius: 11px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        margin: 12px auto;
        position: absolute;
        top: 26vw;
        left: 10.3vw;
    }


/* flex: space-evenly;
        height: 9vw;
        
        flex-direction: column;
        /* position: absolute; */
        
        
        /* flex-wrap: wrap;
        align-content: space-between; */ 
    



 /* text color rgb(184, 180, 184) 