/* Using framework materialize */
.home-title {
    background-color: #4a148c;
}

#home {
    margin: 0;
}

body {
    background-image: url(../images/background-image1.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Using framework materialize */
/* * {
    box-sizing: border-box; */
/* }

body {
    background: rgb(44, 22, 44);
}

.container {
    width: 80%;
    height: 100vh;
    background: rgb(88, 66, 88);
    min-height: 100%; 
}

.genre-hero {
    background: rgb(88, 66, 88); 
}

.genre-container {
    font-size: 7vw;
    line-height: 110%;
    text-align: center;
    margin: 2.8rem 0 1.68rem 0;
}

.band-info-container {
    display: flex;
}

input[type="submit"]
{
    display:hidden;
}

.button-header {
    background: rgb(45, 31, 57);
    height: 40vw;
    flex-direction: row;
    position: relative;
    width: 82%;
    padding-top: 1.3vw;
    top: 1vw;
    flex-grow: 1;
    font-size: 4vw;
    line-height: 110%;
    margin: 1.52vw 0 0.912vw 0;
    text-align: center;
}

.band-info-container-bottom {
    background: rgb(45, 31, 57);
    height: 40vw;
    flex-direction: row;
    position: relative;
    width: 82%;
    padding-top: 1.3vw;
    top: 1vw;
    flex-grow: 1;
    font-size: 4vw;
    line-height: 110%;
    margin: 1.52rem 0 0.912rem 0;
    text-align: center;
    width: 64vw;
    position: relative;
    left: -6.5vw;
} 

/* .button-header2 {
    background: rgb(58, 42, 73);
    height: 40vw;
    flex-direction: row;
    position: relative;
    width: 82%;
    padding-top: 1.3vw;
    top: 1vw;
    flex-grow: 1;
    font-size: 4vw;
    line-height: 110%;
    margin: 1.52rem 0 0.912rem 0;
    text-align: center;
    
} */

.ticket-btn1 {
    font-size: 2.6vw;
    font-weight: 400;
    display: flex;
    gap: 10px 40px;
    width: 24vw;
    height: 9vw;
    border-radius: 11px;
    position: relative;
    top: -2.8800000000000026vw;
    left: 34.1vw;
    align-items: center;
    
}

.ticket-btn2 {
    font-size: 2.6vw;
    font-weight: 400;
    display: flex;
    gap: 10px 40px;
    width: 24vw;
    height: 9vw;
    border-radius: 11px;
    position: relative;
    top: -10.300000000000002vw;
    left: 35.1vw;
    align-items: center;
    position: relative;
    top: 3.9vw;
    left: 10.7vw;

}

.playsongbtn1 {
    background: rgb(44, 22, 44);
    font-size: 2.6vw;
    font-weight: 400;
    display: flex;
    width: 24vw;
    height: 9vw;
    width: 24vw;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 10px auto;
    position: relative;
    right: -6.2vw;
    top: 1vw;
}

.playsongbtn2 {
    background: rgb(44, 22, 44);
    font-size: 2.6vw;
    font-weight: 400;
    display: flex;
    width: 24vw;
    height: 9vw;
    width: 24vw;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    right: -10.100000000000001vw;
    top: 2.5999999999999996vw;
}

.playsongbtn3 {
    background: rgb(44, 22, 44);
    font-size: 2.6vw;
    font-weight: 400;
    display: flex;
    width: 24vw;
    height: 9vw;
    width: 24vw;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    right: 17.8vw;
    top: 6vw;
}

.playsongbtn4 {
    background: rgb(44, 22, 44);
    font-size: 2.6vw;
    font-weight: 400;
    display: flex;
    width: 24vw;
    height: 9vw;
    width: 24vw;
    border-radius: 11px;
    flex: row;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    box-sizing: border-box;
    margin: 10px auto;
    position: relative;
    top: 1.2vw;
    left: 6.3vw;
}

.playsongbtn5 {
    background: rgb(44, 22, 44);
    font-size: 2.6vw;
    font-weight: 400;
    display: flex;
    width: 24vw;
    height: 9vw;
    width: 24vw;
    border-radius: 11px;
    flex: row;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    box-sizing: border-box;
    margin: 10px auto;
    top: 1vw;
    position: relative;
    left: 10.4vw;

    }.playsongbtn6 {
        background: rgb(44, 22, 44);
        font-size: 2.6vw;
        font-weight: 400;
        display: flex;
        width: 24vw;
        height: 9vw;
        width: 24vw;
        border-radius: 11px;
        flex: row;
        justify-content: space-between; 
        align-items: center; 
        text-align: center;
        box-sizing: border-box;
        margin: 10px auto;
        position: relative;
        top: 3vw;
        left: 5.9vw;
} */

/* flex: space-evenly;
        height: 9vw;
        
        flex-direction: column;
        /* position: absolute; */
        
        
        /* flex-wrap: wrap;
        align-content: space-between; */ 
    



/* text color rgb(184, 180, 184) */